@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    @{
        if (Model.News.Any())
        {
            @foreach (var news in Model.News)
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">@news.NewsTitle</h5>
                        <p class="card-text">@news.NewsContent?.Substring(0, 100)...</p>
                        <a asp-page="/NewsDetail" asp-route-id="@news.NewsArticleId" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No news article available!</p>
        }
    }
</div>
