@page
@model VuLongRazorPages.Pages.Staff.StaffRedirectModel
@{
    ViewData["Title"] = "Staff Page";
}

<h1>Welcome, @Model.StaffName</h1>

<p>Choose operation at the top navigation</p>
@* <div class="row mb-3">
    <div class="col-md-12">
        <a class="btn btn-info" asp-page="./UserInfo" asp-route-id="@Model.UserId">View My Information</a>
        <a class="btn btn-info" asp-page="./UserNews" asp-route-id="@Model.UserId">View My News</a>
    </div>
</div>
 *@